body {
    font-family: Arial, sans-serif;
    /* background-color: #f5f5f5; */
}

#container {
    display: flex;
    margin: 20px auto;
    /*centring*/
    /* background-color: #fff; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    /* overflow: hidden; */
    margin: 25px;
    padding: 10px;

}

#sidebar {
    width: 25%;
    padding: 20px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
}

#photo {
    border-radius: 10%;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#full_name {
    padding-bottom: 15px;
    font-size: 28px;
}

.contact {
    display: flex;
    /* flex-wrap: wrap; */
    /* flex-direction: column; */
}

#contact>div {
    padding-bottom: 3px;
    padding-left: 5px;
    ;
}

.icon {
    display: block;
    height: 20px;
    margin-right: 8px;
}

#links .link {
    margin-bottom: 10px;
}

.sidebar_subtitle {
    font-size: 22px;
    margin-bottom: 10px;
}

#languages {
    margin-bottom: 15px;
}

.soft_skill {
    margin: 4px;
    display: inline-block;
    color: #333;
    padding: 7px;
    border-radius: 20px;
    background-color: #fff;
}

/*-------------------------------------------------------------------------*/

#content {
    /* width: 70%; */
    padding: 20px;
}

.titre {
    /* font-family: Arial, sans-serif; */
    font-size: 25px;
    font-weight: bold;
    padding: 5px 0px;
    margin: 15px 0px;
    background-color: #f5f5f5;
}

.education {
    padding-bottom: 10px;
}

.diploma,
.skill_title,
.organisation {
    padding-bottom: 5px;
    font-size: 20px;
}

.skill {
    padding-bottom: 15px;
}

.sub_title {
    padding: 10px 0px;
    font-size: 20px;
    font-weight: bold;
}